/*
Font Size and Color guide
   Font family:Arial, Helvetica, sans-serif;
   Font size: 16px;
   Font color: #989898;
COLMARACADEMY font in Lighter Grey: #9f9b9b
COLMARACADEMY font in Darker Grey: #01161E
H1: 30px, bold
H2: 24px
H3: 22px
H4: 20px
H5: 18px
All Heading font color: #4f4f4f
“Start here” button color: #515151
“Read More” link color: #4577bc
Mobile Screen: max-width = 720px
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #989898;
    text-align: center;
}

/* Common Styles */
h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
    color: #4f4f4f;
}

.flexboxCommon {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

/* Logo and Nav */
header {
    display: flex;
    height: 64px;
    width: 100%;
    align-items: center;
}

header img {
    padding-left: 24px;
}

header div {
    display: flex;
    align-items: center;
}

.dark {
    color: #01161E;
}

.light {
    color: #9f9b9b;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav a {
    color: #01161E;
    padding: 10px;
}

/* Our Mission Section */
.mission {
    background-color: #c4c2c2;
}

.mission>div>h1 {
    padding-bottom: 8px;
}

.mission>div>h4 {
    padding: 8px 0px;
}

.mission-image {
    display: flex;
    padding: 32px 24px;
    width: 60%;
}

.mission div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.mission button {
    border: none;
    background-color: #515151;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 60%;
    padding: 8px;

}

/* Information Section */

.information-section {
    display: flex;
    padding: 24px 32px;
}

/* Information Section Left Column */


.information-section-left {
    padding-right: 24px;
}

.information-section-img {
    display: flex;
    width: 60%;
}

.information-section-left>div {
    padding: 32px;
    text-align: left;
}

.information-section-left>div>p {

    padding: 24px 0px;
}

/* Information Section Events */

.information-section-events {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.information-section-events>div>img {
    display: flex;
    height: auto;
    width: 35%;
    padding: 0px 16px;
}

.information-section-events>div {
    display: flex;
    padding: 16px 16px;
}

.information-section-events>div>div {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.information-section-events>div>div>h3 {
    padding: 16px 0px;
}

.information-section-events>div>div>p {
    padding: 8px 0px;
}

.information-section-events>div>div>a {
    padding: 8px 0px;
}


/* Course Section */

.course-section {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #e1dfdf;
    text-align: left;
    padding: 32px;
}

.course-section-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
}

.course-section-cards>div {
    padding-bottom: 8px;
    background-color: white;

    /*
    Had to add 8px here cause the <p> is already universal within the course-section-cards
    */
}

.course-section-cards-top {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.course-section-cards-bottom {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.course-section-cards>div>div>h4 {
    padding-left: 16px;
    padding-top: 16px;
}

.course-section-cards>div>div>p {
    padding-left: 16px;
    padding-bottom: 16px;
}

/* Video Section */
.video-section {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.entire-video-section {
    display: flex;
    padding: 32px 24px;
}

.video-section-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 24px;
}

.myVideo {
    display: flex;
    width: 60%;
    padding-bottom: 24px;
}

.video-section-left>div>h3 {
    padding-bottom: 15px;
}

.video-section-left>div>p {
    padding-bottom: 32px;
}

.video-section-right {
    display: flex;
    width: 40%;
}


.video-events {
    display: flex;
    flex-direction: column;
}

.video-events>div {
    display: flex;
    justify-content: center;
    text-align: left;
}

.video-events>div>img {
    padding: 16px;
}

.video-events>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}